* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-primary: #0f657b;
  --color-primary-hover: #115368;
  --color-background: #000000;
  --color-stroke: #49808c;
  --color-text: #e1e1e6;
  --color-text-light: #ffffff;
  --color-accent: #f75a68;

  --color-table-header: #043444;
  --color-table-background: #030b0d;
  --color-table-row: #06181c;
  --color-table-empty-text: #55545b;

  --color-input: #06181c;
  --color-input-text: #7e7a88;

  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Roboto Mono", monospace;

  font-size: 62.5%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);

  font-size: 1.6rem;
  line-height: 1.6;

  height: 100vh;
}

body * {
  font-family: var(--font-primary);
}

#app {
  display: flex;
  flex-direction: column;

  margin: 0 auto;

  height: 100vh;
  max-width: 112rem;
  width: 100%;

  padding: 11.5rem 2.4rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;

  margin-bottom: 8rem;
}

.search {
  display: flex;
  gap: 0.8rem;

  max-width: 64rem;
  width: 100%;
}

.search input {
  background-color: var(--color-table-row);
  border: none;
  border-radius: 0.4rem;

  color: var(--color-input-text);
  font-size: 1.6rem;
  line-height: 1.6rem;

  height: 4.8rem;
  width: 100%;
  min-width: 34rem;

  padding: 1.6rem;
}

.search input::placeholder {
  color: var(--color-input-text);
}

.search button {
  background: var(--color-primary);
  border: none;
  border-radius: 0.4rem;

  color: white;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  padding: 1.2rem 3.2rem;

  transition: background 200ms;
  cursor: pointer;
}

.search button img {
  height: 2.4rem;
  width: 2.4rem;
}

.search button:hover {
  background: var(--color-primary-hover);
}

table {
  background-color: var(--color-table-background);
  border-collapse: collapse;
  border-radius: 1.2rem;
  box-shadow: 0 0 0 1px var(--color-stroke);

  width: 100%;
  overflow: hidden;
}

table * {
  color: var(--color-text);
  font-size: 2rem;
}

tbody {
  display: block;
  max-height: 52rem;

  overflow-y: auto;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead th {
  background-color: var(--color-table-header);

  padding: 1.6rem 4rem;
  text-align: left;
}

.empty-table {
  display: none;
}

.empty-table tr {
  height: 100%;
}

.empty-table td div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.empty-table img {
  height: 12.5rem;
  width: 12.5rem;
}

.empty-table p {
  color: var(--color-table-empty-text);
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: 4rem;
}

table:not(:has(tbody.users > tr)) {
  height: 100%;
}

table:not(:has(tbody.users > tr)) .empty-table {
  display: table-row-group;
  height: 100%;
}

tbody tr {
  background: var(--color-table-row);
}

tbody tr + tr {
  border-top: 1px solid var(--color-stroke);
}

tbody tr:nth-child(odd) {
  background: rgb(from var(--color-table-row) r g b/0.5);
}

tbody td {
  padding: 2.4rem 4rem;
}

td.user {
  display: flex;
  gap: 1.6rem;
  align-items: center;

  width: max-content;
}

td.user img {
  border-radius: 50%;
  object-fit: cover;

  height: 5.6rem;
  width: 5.6rem;
}

td.user a {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  line-height: 1;
  text-decoration: none;
}

td.user p {
  font-weight: bold;
}

td .remove {
  background: none;
  border: none;
  color: var(--color-accent);

  transition: filter 200ms;
  cursor: pointer;
}

td .remove:hover {
  filter: brightness(0.9);
}

/* scrollbar */
::-webkit-scrollbar {
  height: 0.6rem;
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background: var(--color-table-row);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-stroke);
  border-radius: 9999px;
}
